In [1]:
dta <- read.csv('../data/seattle_911_raw.csv')
dta <- dta[-1,]
dta <- dta[,1:5]

In [2]:
head(dta)

  Address                 Type
2 6900 37th Av S          Medic Response
3 N 50th St / Stone Way N Aid Response
4 E John St / E Olive Way Aid Response
5 611 12th Av S           Aid Response
6 4545 42nd Av Sw         Automatic Medical Alarm
7 2124 3rd Av             Investigate Out Of Service
  Datetime                     Latitude Longitude
2 11/09/2011 11:33:00 PM +0000 47.54068 -122.2861
3 11/09/2011 11:32:00 PM +0000 47.66503 -122.3402
4 11/09/2011 11:32:00 PM +0000 47.61957 -122.3243
5 11/09/2011 11:29:00 PM +0000 47.59741 -122.3172
6 11/09/2011 11:25:00 PM +0000 47.56247 -122.3855
7 11/09/2011 11:17:00 PM +0000 47.61335 -122.3425

In [3]:
dim(dta)

[1] 650886      5

In [4]:
sapply(dta, typeof)

  Address      Type  Datetime  Latitude Longitude
"integer" "integer" "integer"  "double"  "double"

In [5]:
na_count <- sapply(dta, function(y) sum(is.na(y)))
data.frame(na_count)

          na_count
Address      0
Type         0
Datetime     0
Latitude  1568
Longitude 1568

In [6]:
dta <- na.omit(dta)
rownames(dta) <- seq(length=nrow(dta))
na_count <- sapply(dta, function(y) sum(is.na(y)))
data.frame(na_count)

          na_count
Address   0
Type      0
Datetime  0
Latitude  0
Longitude 0

In [7]:
dta$Timestamp <- as.POSIXct(dta$Datetime, format="%m/%d/%Y %I:%M:%S %p", tz = Sys.timezone(location = TRUE))
dta$Date <- as.Date(dta$Datetime, format="%m/%d/%Y", tz = Sys.timezone(location = TRUE))
dta$Time <- format(dta$Timestamp,"%H:%M:%S")

In [8]:
na_count <- sapply(dta, function(y) sum(is.na(y)))
data.frame(na_count)

          na_count
Address      0
Type         0
Datetime     0
Latitude     0
Longitude    0
Timestamp 2121
Date      2046
Time      2121

In [9]:
dta <- na.omit(dta)
rownames(dta) <- seq(length=nrow(dta))
na_count <- sapply(dta, function(y) sum(is.na(y)))
data.frame(na_count)

          na_count
Address   0
Type      0
Datetime  0
Latitude  0
Longitude 0
Timestamp 0
Date      0
Time      0

In [10]:
dta <- unique(dta)

In [11]:
write.csv(dta[,-3], file = '../data/seattle_911_clean.csv')