In [1]:
library('tidyr')

In [8]:
df <- read.csv('../data//seattle_911_raw.csv')
df <- df[-1,]

In [9]:
head(df)

  Address                 Type
2 6900 37th Av S          Medic Response
3 N 50th St / Stone Way N Aid Response
4 E John St / E Olive Way Aid Response
5 611 12th Av S           Aid Response
6 4545 42nd Av Sw         Automatic Medical Alarm
7 2124 3rd Av             Investigate Out Of Service
  Datetime                     Latitude Longitude Report.Location
2 11/09/2011 11:33:00 PM +0000 47.54068 -122.2861 (47.540683, -122.286131)
3 11/09/2011 11:32:00 PM +0000 47.66503 -122.3402 (47.665034, -122.340207)
4 11/09/2011 11:32:00 PM +0000 47.61957 -122.3243 (47.619575, -122.324257)
5 11/09/2011 11:29:00 PM +0000 47.59741 -122.3172 (47.597406, -122.317228)
6 11/09/2011 11:25:00 PM +0000 47.56247 -122.3855 (47.562472, -122.385455)
7 11/09/2011 11:17:00 PM +0000 47.61335 -122.3425 (47.613347, -122.342498)
  Incident.Number
2 F110104166
3 F110104164
4 F110104165
5 F110104162
6 F110104161
7 F110104160

In [10]:
sapply(df, typeof)

        Address            Type        Datetime        Latitude       Longitude
      "integer"       "integer"       "integer"        "double"        "double"
Report.Location Incident.Number
      "integer"       "integer"