In [147]:
allocator <- function(units, preds) {
    zones <- c('zone1', 'zone2', 'zone3', 'zone4', 'zone5', 'zone6', 'zone7')
    total <- sum(preds)
    if (units <= 7) {  # if fewer units than zones 
        preds <- sort(preds, decreasing = TRUE)
        alloc <- rep(0, 7)
        names(alloc) <- zones
        alloc[names(preds[1: units])] <- 1  # assign to zones with greatest demand
        return (alloc)
    }
    else {
        alloc <- rep(1, 7)  # give each zone a unit
        names(alloc) <- zones
        units <- units - 7
        additional <- floor((preds * units) / total)  # distribute units based upon need
        alloc <- alloc + additional
        units <- units - sum(additional)
        if (units > 0){  # if any units are unallocated
            sorted_alloc <- sort(alloc)  # assign remaining units to zones with fewest units
            alloc[names(sorted_alloc[1: units])] <- alloc[names(sorted_alloc[1: units])] + 1
        }
        return (alloc)
    }
}

In [151]:
units <- 36
zones <- c('zone1', 'zone2', 'zone3', 'zone4', 'zone5', 'zone6', 'zone7')
preds <- c(10, 40, 100, 2, 0, 77, 80)
names(preds) <- zones

In [153]:
alloc <- allocator(units = units, preds = preds)
alloc

zone1 zone2 zone3 zone4 zone5 zone6 zone7
    2     4    10     2     2     8     8

In [52]:
floor((preds * units) / total)

zone1 zone2 zone3 zone4 zone5 zone6 zone7
    0     2     5     0     0     3     4

In [34]:
alloc[test]

zone1 zone2 zone3 zone4 zone5
    1     1     1     1     0

In [73]:
alloc[]

zone1 zone2 zone3 zone4 zone5 zone6 zone7
    1     1     1     1     0     0     0

In [79]:
alloc[1:1] <- alloc[1:1] + 1

In [80]:
alloc

zone1 zone2 zone3 zone4 zone5 zone6 zone7
    4     3     1     1     0     0     0